/* You can add global styles to this file, and also import other style files */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Times New Roman', Times, serif;
}
marquee{
  color: red;
}
.box{
  padding: 10px 10px;
  background-color: rgb(240, 240, 240);
}
.box h5{
  font-weight: bold;
  font-size: 15px;
}
